/*  your css code here. If applicable */
  body {
            background-color: rgb(204, 204, 204);
            font-family: Arial, sans-serif;
        }
h1, h2 {
	text-align: center;
}
ul li {
	list-style-type:none;
	margin: 8px 0;
}
    a {
            text-decoration-line: none;
            color: black;
        }
.player_one,
.player_two{
	background-color: rgb(255, 255, 255);
	padding: 15px;
	border-radius: 10px;
	width: fill-box;
    margin: 20px auto;
}